@font-face {
    font-family: 'Raleway';
    src: URL('./fonts/Raleway-VariableFont_wght.ttf') format('truetype');
}
  
@font-face {
    font-family: 'GothicBlack';
    src: URL('./fonts/GothicA1-Black.ttf') format('truetype');
}
  
@font-face {
    font-family: 'GothicBold';
    src: URL('./fonts/GothicA1-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'GothicMedium';
    src: URL('./fonts/GothicA1-Medium.ttf') format('truetype');
}
  
* {
    border: 0;
    padding: 0;
    margin: 0;
    font-size: 24px;
}

body {
    font-family: Raleway;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}